@import "../variables.scss";

.main {
  width: 100%;
  min-height: $input-height;
  border-radius: 7px;
  border: none;
  font-size: 18px;
  color: #5f5f5f;
  padding: 14px;
  background-color: white;
}
