@import "../variables.scss";

.description {
  flex: 4;

  > * {
    width: 100%;
  }
}

.title {
  font-size: 18px;
  color: #606060;
}

.text {
  font-size: 16px;
  color: #8d8d8d;
}

.img {
  width: 91px;
  margin-left: 10px;
}

@media screen and (min-width: $xl-anchor) {
  .title {
    font-size: 22px;
  }
}

@media screen and (min-width: $xxl-anchor) {
  .title {
    font-size: 26px;
  }

  .text {
    font-size: 18px;
  }
}
