@import "../variables.scss";

.countries {
  display: grid;
  grid-gap: 16px;
}

.showMore {
  margin-top: 22px;
}

@media screen and (min-width: $md-anchor) {
  .countries {
    grid-template-columns: repeat(auto-fill, calc(50% - 10px));
  }

  .showMore {
    margin-top: 40px;
  }
}
