@import "../variables.scss";

$footer-color: #29375e;

.container {
  height: 100%;

  .st0 {
    fill: #f50057;
  }

  .st1 {
    fill: #ffffff;
  }

  &.secondary {
    .st1 {
      fill: $secondary-color;
    }
  }

  &.footer {
    .st1 {
      fill: $footer-color;
    }
  }
}
