import React from "react";
import style from "./{{dashCase componentName}}.scss";

const {{componentName}} = () => (
	<div className={style.main}>{{componentName}}</div>
);

export default {{componentName}};