@import "../variables";

.main {
	height: 650px;
	background: linear-gradient(#2b3450, #0a7884);
}

.diagonal {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10vw;
}

@media (min-width: $md-anchor) {
	.main {
		background-color: #013a6b;
		height: 724px;
		position: relative;
	}

	.content {
		margin-top: 50px;

		> div {
			display: inline-block;
		}
	}

	.cta {
		width: 370px;

		h1 {
			margin-bottom: 25px;
		}
		h4,
		p {
			margin-bottom: 16px;
		}
		p {
			line-height: 21px;
		}
	}

	.email-form {
		margin: 25px 0;
	}

	.store {
		width: 105px;
		height: 32px;
		display: inline-block;
		background-color: black;
		border-radius: 4px;

		+ .store {
			margin-left: 20px;
		}
	}

	.mobile {
		float: right;
		margin-right: 150px;
		width: 280px;
		height: 490px;
		display: block;
		background-color: white;
		border-radius: 30px;
	}
}
