@import "../variables.scss";

.icon {
  display: none;
}

.title {
  display: inline-block;
  font-size: 38px;
  color: #2a8cc7;
}

.content {
  font-size: 16px;
  line-height: 21px;
  color: #8d8d8d;

  span {
    font-size: 18px;
    line-height: 24px;
    color: #204a61;
    font-weight: 500;
    display: block;
  }

  ul {
    padding-left: 3px;
  }

  li::before {
    content: "• ";
    font-size: 38px;
    color: #818181;
    display: inline-block;
    position: relative;
    top: 7px;
    margin-right: 4px;
  }
}

@media screen and (min-width: $md-anchor) {
  .icon {
    display: inline-block;
    width: 47px;
    margin-right: 20px;
    vertical-align: middle;
  }
}

@media screen and (min-width: $lg-anchor) {
  .title {
    font-size: 44px;
  }

  .content {
    font-size: 18px;
    line-height: 24px;

    span {
      font-size: 20px;
      line-height: 27px;
    }
  }
}

@media screen and (min-width: $xxl-anchor) {
  .icon {
    width: 72px;
    margin-right: 35px;
  }

  .title {
    font-size: 64px;
  }

  .content {
    font-size: 24px;
    line-height: 32px;

    span {
      font-size: 26px;
      line-height: 35px;
    }
  }
}
