$bg: #f1f4f5;
$primary-color: #f50057;
$secondary-color: #204a61;

$sm-anchor: 360px;
$md-anchor: 768px;
$lg-anchor: 1024px;
$xl-anchor: 1200px;
$xxl-anchor: 1600px;

$max-width-header: 1024px;

$misscelaneous-z-index: 1;
$overlay-z-index: 2;
$navbar-z-index: 3;

$diagonal-angle: 10vw;

$input-height: 66px;

.maxWidthHeader {
  max-width: $max-width-header;
  margin: 0 auto;
}

:export {
  smAnchor: $sm-anchor;
  mdAnchor: $md-anchor;
  lgAnchor: $lg-anchor;
  xlAnchor: $xl-anchor;
  xxlAnchor: $xxl-anchor;
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
}
