@import "../variables.scss";

.main {
  color: #606060;
  background-color: #f1f4f5;
  padding: 35px 18px 0;
  text-align: center;
}

.mobileZone {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  padding-top: 50px;
  padding-bottom: 100px;
}

.mobile {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 240px;
  height: 430px;
  border-radius: 29px;
  box-shadow: 0 35px 150px -30px rgba(#0e0e4e, 0.64);
  background-image: url("./mobile-border.png");
}

.screen {
  position: absolute;
  top: 27px;
  left: 10px;
  width: 219px;
  transition: all 0.3s;
  transform: scale(1);
}

.smallScreen {
  transform: scale(0.8);
}

.verySmallScreen {
  transform: scale(0.6);
}

.arrow {
  display: inline-block;
  width: 46px;
  height: 79px;
  padding: 16px 7px 16px 14px;
  background-color: rgba(#000000, 0.7);
  position: absolute;
  z-index: $overlay-z-index;
  cursor: pointer;
}

.arrowRight {
  @extend .arrow;
  right: 7px;
}

.arrowLeft {
  @extend .arrow;
  left: 7px;

  transform: scaleX(-1);
}

@media screen and (min-width: $lg-anchor) {
  .mobileZone {
    &:hover > .arrow {
      display: inline-block;
    }
  }

  .arrow {
    display: none;
  }
}
