@import "../variables.scss";

$sm-height: 52px;
$sm-font-size: 18px;
$sm-button-width: 165px;

$md-height: 40px;
$md-font-size: 16px;
$md-button-width: 140px;

$lg-height: 50px;

.main {
  display: flex;
}

.input {
  display: inline-block;
  flex: 1;

  width: 100%;
  height: $md-height;
  font-size: $md-font-size;
  border: none;
  border-radius: 6px 0 0 6px;
  padding: 0 15px;
}

.button {
  display: inline-block;
  padding: 0;
  border-radius: 0 6px 6px 0;

  width: $md-button-width;
  height: $md-height;

  font-size: $md-font-size;
  font-weight: bold;
}

.inputResponsive {
  width: 100%;
  height: $sm-height;

  border: none;
  border-radius: 7px;

  padding: 0 15px;

  font-size: $sm-font-size;
}

.buttonResponsive {
  display: block;
  padding: 0;
  margin: 17px auto 0;

  width: $sm-button-width;
  height: $sm-height;

  font-weight: bold;
  font-size: $sm-font-size;
}

@media screen and (min-width: $md-anchor) {
  .mainResponsive {
    display: flex;
  }

  .inputResponsive {
    display: inline-block;
    border-radius: 6px 0 0 6px;
    flex: 1;

    height: $md-height;
    font-size: $md-font-size;
  }

  .buttonResponsive {
    display: inline-block;
    margin-top: 0;
    border-radius: 0 6px 6px 0;

    width: $md-button-width;
    height: $md-height;
    font-size: $md-font-size;
  }
}

@media screen and(min-width: $lg-anchor) {
  .input,
  .button,
  .inputResponsive,
  .buttonResponsive {
    height: $lg-height;
  }
}
