@import "~components/variables.scss";

:global {
	* {
		box-sizing: border-box;
	}
	
	body {
		font-family: Segoe UI;
	}

	h1 {
		font-size: 38px;
	  font-weight: 500;
	  line-height: 42px;
	  margin-bottom: 25px;
	}

	h4 {
		font-size: 16px;
	  font-weight: 500;
		line-height: 21px;
		margin-bottom: 15px;
	}

	.sm {
		display: block;
	}

	.md {
		display: none;
	}

	.lg {
		display: none;
	}

	.xl {
		display: none;
	}

	.xxl {
		display: none;
	}

	@media screen and (min-width: $md-anchor) {
		.sm {
			display: none;
		}

		.md {
			display: block;
		}
	}

	@media screen and (min-width: $lg-anchor) {
		.lg {
			display: block;
		}
	}

	@media screen and (min-width: $xl-anchor) {
		.xl {
			display: block;
		}
	}

	@media screen and (min-width: $xxl-anchor) {
		.xxl {
			display: block;
		}
	}
}
